<% 
String.prototype.toProperCase = function () {
	string = this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
	doNotCapitalize = ["the", "and", "as", "if", "at", "but", "by", "for", "from", "if", "in", "of", "once", "onto", "or", "over", "past", "so", "than", "that", "till", "to", "up", "upon", "with", "when", "yet"]
	string = string.trim()
	strArr = string.split(" ")
	for (x in strArr) {
		if (doNotCapitalize.indexOf(strArr[x].toLowerCase()) != -1 && x != 0 && x != strArr.length) {
			strArr[x] = strArr[x].toLowerCase()
		}
	}
	output = strArr.join(" ")
	return output
}
%>

<div id="delete_popup" class="popup" style="display: none;">
    <div class="prompt">Are you sure you want to delete this link?</div>

    <div class="button_wrapper">
        <div class="button_group">
            <button onclick="this.parentElement.parentElement.style.display='none'">Cancel</button>
            <button class="delete_button" onclick="deleteLink(this.parentElement.parentElement.dataset.key)">Delete</button>
        </div>
    </div>
</div>

<div id="link_generator" class="popup" style="display: none;">
    <div class="prompt">Link Generator</div>
    <form id="link_generator_form"> 
        <div>
            <label for="uses_input">How many uses should this be valid for?</label>
            <input id="uses_input" name="uses" type="number" autocomplete="off" value="1">
        </div>
        <div>
            <label for="type_input">What type of link is this?</label>
            <select name="type" id="type_input" onchange="modifyDataEntries(this)" autocomplete="off">
                <option value="DOWNLOAD_FILE">Download File</option>
                <option value="CREATE_USER">Create User</option>
            </select>
        </div>

        <div id="DOWNLOAD_FILE">
            <label for="path_input">File path:</label>
            <input id="path_input" name="path" autocomplete="off">
        </div>
        <div id="CREATE_USER" style="display:none;">
            <label for="permission_level">Permission Level:</label>
            <select name="permission_level" id="permission_level" autocomplete="off">
                <option value="admin">Admin</option>
            </select>
        </div>
    </form>

    <div class="button_group">
        <button onclick="this.parentElement.parentElement.style.display='none'">Cancel</button>
        <button class="standard_button" onclick="createNewLink()">Confirm</button>
    </div>
</div>

<div class="content_box">
    <link href="/desktop_stylesheets/temp_links.css" rel="stylesheet">
    <div class="table_wrapper">
        <table id="keyTable" class="key_list" cellspacing="0" data-directory="<%= data.currentPath %>">
            <thead>
                <tr>
                    <th class="key">Link Value <button style="margin-left:4px" onclick="linkGeneratorPopup()">Create New Link</button></th>
                    <th class="remaining_uses">Remaining Uses</th>
                    <th class="type">Type</th>
                    <th class="additional_info">Additional Info</th>
                    <th class="copy_link_button"></th>
                    <th class="delete_button"></th>
                </tr>
            </thead>

            <tbody>
                <% for (key in data.keyList) { %>
                <tr class="key" data-key="<%= data.keyList[key].key %>">
                    <td class="key">
                        <%= data.keyList[key].key %> 
                    </td>
                    <td class="remaining_uses">
                        <%= data.keyList[key].remainingUses %>
                    </td>
                    <td class="type">
                        <%= data.keyList[key].type.replace("_", " ").toProperCase() %> 
                    </td>
                    <td class="additional_info">
                        <% if (data.keyList[key].type == "CREATE_USER") { %>
                            Permission level: <%= data.keyList[key].data.permission_level.toProperCase() %>
                        <% } else if (data.keyList[key].type == "DOWNLOAD_FILE") { %>
                            Target file path: <%= data.keyList[key].data.targetPath %>
                        <% } %>
                    </td>
                    <td>
                        <button class="standard_button" onclick="copyLink(this)" style="min-width: 75px;">Copy Link</button>
                    </td>
                    <td>
                        <button class="delete_button" onclick="deleteLinkPopup(this.parentElement.parentElement.dataset.key)"><img src="/svgs/trash.svg"></button>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<script src="/scripts/admin_temp_link_manager.js"></script>